* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --clr: rgb(58, 52, 52);
}
body{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--clr);
}
.navbar{
    width: 400px;
    height: 70px;
    background: rgb(245, 238, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: auto;
}
.navbar ul{
    display: flex;
    width: 350px;
    
}
.navbar ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.navbar ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.navbar ul li a img{
    width: 30px;
    height: 30px;
}
.navbar ul li a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transform: 0.5s;
}
.navbar ul li.active a .icon{
    transform: translateY(-35px);
    background:  rgb(67 227 67);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 6px solid var(--clr);
}
.navbar ul li.active a .icon::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: transparent;
    top: 50%;
    left: -22px;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 var(--clr);
}
.navbar ul li.active a .icon::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: transparent;
    top: 50%;
    right: -22px;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 var(--clr);
}
.navbar ul li a .text{
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}
.navbar ul li.active a .text{
    transform: translateY(10px);
    opacity: 1;
}
